.marquee {
    display: inline-block;
    white-space: nowrap;
    transition: transform 0.3s;
  }
  
  .animate {
    animation: scroll 5s linear infinite;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  